{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "airbnb",
        "prettier"
        //"plugin:node/recommended",
    ],
    "plugins": ["prettier"],
    "rules": {
        "no-underscore-dangle": "off"
    }
}
